/* Css do Header */

.tituloprincipal {
    text-align: center;
    font-size: 2em;
    font-family:  'Red Hat Display', sans-serif;
    padding: 3em;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 10px ;
}

/* Css do Main*/

body {
    background: url(./assets/bg-stars.svg);
    background-color: #1e1c29;
}

.textomain {
    color: #FFFFFF;
    letter-spacing: 10px;
    font-size: 1em;
    text-align: center;
    padding: 3em;
}

#parcelas, #legenda {
    float: left;
    clear: both;
}
#parcelas div {
    float: left;
    border: 1px solid #ccf;
    padding: 50px 0px;
    width: 100px;
    text-align: center;
}
#legenda div {
    float: left;
    border: 1px solid #ccf;
    width: 100px;
    text-align: center;
}

/* Css do Footer */ 


footer {
    
    background: url(./assets/pattern-hills.svg);
}

.copyright {
    text-align: center;
    color: #FFFFFF;
}