


/* Css do Header */

header {
    background-color: #1b2330;
}


.depoimentotexto-a p2 {
    padding: 4em 0 0 0;
}

.listatopo {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 80%;
    bottom: 5em;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
}



.listatopo li {
    padding: 0 0 0 1em;
}
.imagemheader {
    position: relative;
    left: 25%;
    width: 45%;
}

/* Css entre o Header e o Main */

.tituloetexto {
    text-align: center;
    text-align: center;
    position: relative;
    bottom: 29em;
   
    
}

.titulonomeio {
    padding: 3em 0 1em 0 ;
    font-size: 39px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    width: 46%;
    position: relative;
    left: 27%;
    

}

.textonomeio {
    font-size: 22px;
    padding: 0 0 1em 0;
    width: 29%;
    position: relative;
    left: 37%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    line-height: 1.2em;


    
}

.imagemnomeio {
    width: 100%;
    background-color: #1b2330;
}

.botao2 {
    padding: 1em;
    width: 18%;
    border-radius: 25px;
    background: #4ec3d4;
    border: none;
    font-size: 1em;
    position: relative;
    left: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.botao2:hover {
    background: #43b1d0;
    
    transition: 00.6s;
}

.botao2:active {
    background: #0D8CB0;
}



/*Css do Main */

main {
    background-color: #181f2b;
}

.conteudomeio1 {
    position: relative;
    width: 20%;
    left: 26%;
    text-align: center;
    bottom: -9em;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF
}

.container-a {
    display: grid;
    grid-template-columns: 30em 30em;
    gap: 2em 2em;
    justify-content: space-evenly;
    position: relative;
    bottom: 20em;
    text-align: center;
    
}

.textomeio-a {
    padding: 1em;
    line-height: 1.4em;
}

.textomeio-a:hover {
    box-shadow: 0em 0em 5em #43b1d0;
    border-radius: 25px;
    transition: 1s;
 
}


.conteudomeio2 {
    width: 22%;
    text-align: center;
    position: relative;
    left: 51%;
    bottom: 32em;;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF
}

.conteudomeio1 img {
    padding: 3em;
}

.conteudomeio2 img {
    padding: 3em;
}




.textomeio-a p {
    font-size: 1em;
    padding: 0 0 1em;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF
}

.textomeio-a h2 {
    font-size: 2em;
    padding: 0 0 1em;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}




.imagemmain5 {
    float: left;
    margin: 0 2em 2em 6em;
}

.finalmain {
    text-align: left;
    position: relative;
    top: 11em;
    width: 88%;
    font-family: 'Red Hat Display', sans-serif;
    color: #FFFFFF;
    margin: 0 0 18em;
}

.finalmain h6 {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2em;
}

.finalmain p {
    line-height: 1.2em;
    padding: 0.8em;
    font-size: 1.2em;
}

.textogoogle {
    text-decoration: underline;
    color: #2dc3ec;
    font-size: 1.1em;
    
}

.depoimentos {
    clear: left;
}

.imagemmain6 {
    clear: left;
    position: relative;
    left: 5.3%;
    bottom: 2em;
}

.container-b {
    display: inline-flex;
    position: relative;
    width: 86%;
    margin: 6em 0;
    padding: 1em;

}

.depoimentotexto-a {
    background-color: #21293c;
    padding: 2em;
    margin: 2em;
}

.depoimentotexto-b {
    background-color: #21293c;
    padding: 2em;
    margin: 2em;
}

.depoimentotexto-c {
    background-color: #21293c;
    padding: 2em;
    margin: 2em;
}

.depoimentotexto-a p1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding: 0 0 0 1em;
    line-height: 1.4em;
    
  
}

.depoimentotexto-b p1{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding: 0 0 0 1em;
    line-height: 1.4em;
  
}

.depoimentotexto-c p1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding: 0 0 0 1em;
    line-height: 1.4em;
  
}

.depoimentotexto-a p2 {
    font-family: 'Montserrat', sans-serif;
    color: #CCCCCC;
    padding: 0 0 0 1em;
    line-height: 1.4em;
    font-size: 0.8em;

}

.depoimentotexto-b p2 {
    font-family: 'Montserrat', sans-serif;
    color: #CCCCCC;
    padding: 0 0 0 1em;
    line-height: 1.4em;
    font-size: 0.8em;

}

.depoimentotexto-c p2 {
    font-family: 'Montserrat', sans-serif;
    color: #CCCCCC;
    padding: 0 0 0 1em;
    line-height: 1.4em;
    font-size: 0.8em;


}


.imagemperfil1 {
    float: left;
    border-radius: 4em;
    height: 2em;
    margin: 0 1em 0;
    
}

.imagemperfil2 {
    float: left;
    border-radius: 4em;
    height: 2em;
    margin: 0 1em 0;
   
}

.imagemperfil3 {
    float: left;
    border-radius: 4em;
    height: 2em;
    margin: 0 1em 0;
   
}

.mainefooter {
    width: 44%;
    position: relative;
    left: 24%;
    padding: 2em;
    text-align: center;
    background-color: #21293c;
    padding: 2em;
    margin: 2em 0 0;
    border-radius: 1em;
    top: 7em;
}

.mainefooter:hover {
    box-shadow: 0 0 2em #000000;
}

.mainefooter h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
   
}

.mainefooter p1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding: 0 0 2em 0;
}

.botaomain {
    padding: 1em;
    width: 42%;
    border-radius: 25px;
    background: #4ec3d4;
    border: none;
    font-size: 1em;
    position: relative;
    left: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.botaomain:hover {
    background: #1a9fc4;
    
    transition: 00.6s;
}

.botaomain:active {
    background: #046783;
}

.email {
    width: 48%;
    padding: 1em;
    border: none;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #CCCCCC;
}
    



/* Css do Footer */ 

footer {
	background-color: #0c1524;
}

.logofooter {
    padding: 2em;
}

#logofooter {
	height: 6%;
	padding: 11em 8em 3em;
}

.footerparte1 {
	width: 40%;
    position: relative;
    top: 11em;
    width: 41%;
    margin: 0 0 0 3em;
}

.footerlocal{
	display: flex;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;

}

.footertelefone, .footeremail  {
    position: relative;
    left: 55%;
    bottom: 5em;
    display: flex;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}

.textofooter {
	width: 45%;
	font-family: 'Open Sans', sans-serif;
}



#imgfooter {
	padding: 1em 1em 1em 3em;
}

.listafootera {
	line-height: 2em;
	width: 8%;
    position: relative;
    left: 50%;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	
}

.listafooterb {
	line-height: 2em;
	width: 7%;
    position: relative;
    left: 60%;
    bottom: 12em;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	
}

.listafootera li {
	line-height: 3em;
}

.listafooterb li {
	line-height: 3em;
}

.redeslogo {
	width: 13%;
    position: relative;
    left: 79%;
    bottom: 22em;
}


#logoface, #logotwitter, #logoinsta {
	height: 3em;
}


.copyright {
	text-align: end;
	padding: 3em;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}

