/* Css do Header */

header {
    background-color: #1b2330;
}

.logo {
    padding: 2em;
}

.botao1 { 
    width: 15%;
    position: relative;
    left: 57%;
    font-family: 'Montserrat', sans-serif;
    

}

.listatopo {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70%;
    bottom: 5em;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
}



.listatopo li {
    padding: 0 0 0 1em;
}
.imagemheader {
    position: relative;
    left: 25%;
    width: 45%;
}
/*Css do Main */

/* Css do Footer */ 

